<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="utf-8" />
        <style>
            {{CSS}}
        </style>
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;800&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <div class="banner" style="background-image: url(assets/{{bg-image}}.jpg);">
            <div class="text-box">
                <h1>{{heading}}</h1>
                <hr>
                <p>
                    {{main-text}}
                </p>
            </div>
        </div>
    </body>
</html>
