<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="utf-8" />
        <!-- <style>
            {{CSS}}
        </style> -->
        <link rel="stylesheet" href="style.css" />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;800&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <div class="banner">
            <div class="text-box">
                <h1>ЛЕТО</h1>
                <hr>
                <p>
                    Солнце греет ярко и долго. Деревья в листве, воздух тёплый,
                    время отдыха, путешествий и спелых ягод. День длинный, а
                    ночь тёплая.
                </p>
            </div>
        </div>
    </body>
</html>
